html {
  position: relative;
}
body {
  margin-bottom: 120px;
  margin-top: 30px;
  background-color: #ffffff;
}

.jumbotron {
  height: 400px;
  background-image: url(../img/bg1200x800.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-position: -50px -150px;
  color: #eaeaea;
  overflow: hidden;
}
.jumbotron img {
  width: 150px;
  border: 5px solid #eaeaea;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.jumbotron h1,
.jumbotron p {
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
hr {
  width: 250px;
  border-top: 3px solid #999;
}

section {
  min-height: 600px;
}

.pkiri,
.pkanan {
  opacity: 0;
  transform: translate(-50px, 0) rotate(15deg);
  transition: 1s;
}

.pkanan {
  transform: translate(50px, 0) rotate(-15deg);
}

.pkiri.pmuncul,
.pkanan.pmuncul {
  opacity: 1;
  transform: translate(0, 0);
}

.portfolio {
  background-color: #809aa4;
}

.portfolio .thumbnail {
  opacity: 0;
  transform: translate(0, -40px);
  transition: 0.5s;
}

.portfolio .thumbnail.muncul {
  opacity: 1;
  transform: translate(0, 0);
}

.contact {
  min-height: 800px;
}

.isometric * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.isometric {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.isometric ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 800px;
  list-style-type: none;
}

.isometric ul li {
  position: relative;
  display: grid;
  place-items: center;
  width: 200px;
  height: 200px;
}
.isometric li .base {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 8px solid var(--color);
  border-left: 8px solid transparent;
  filter: drop-shadow(0 0 10px var(--color));
  animation: spin 8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotateX(60deg) rotateZ(0);
  }
  100% {
    transform: rotateX(60deg) rotateZ(-360deg);
  }
}

.isometric li .base::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  top: 9px;
  left: 9px;
  border-radius: 50%;
  background-color: var(--color);
}
.isometric li .base,
li .title,
li .icon {
  position: absolute;
  color: #000000;
  transform: rotateX(60deg) rotateZ(-45deg);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.isometric li .title {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2px;
  transform: rotateY(30deg) skewY(-24deg) translateY(0px);
  pointer-events: none;
  opacity: 0;
}

.isometric li .icon {
  display: grid;
  place-items: center;
  font-size: 80px;
  height: 100%;
  pointer-events: none;
}

.isometric .base:hover {
  filter: drop-shadow(0 0 10px var(--color));
  animation-play-state: pause;
}

.isometric .base:hover + .title + .icon {
  transform: rotateY(30deg) skewY(-24deg) translateY(-160px);
  color: var(--color);
  filter: drop-shadow(0 0 3px var(--color));
  animation: wave 1s ease-in-out infinite;
}

.isometric .base:hover + .title {
  transform: rotateY(30deg) skewY(-24deg) translateY(-90px);
  color: var(--color);
  text-shadow: 0 0 3px var(--color);
  transition-delay: 0.1s;
  opacity: 1;
  animation: wave 1s ease-in-out infinite;
}

@keyframes wave {
  0%,
  100% {
    margin-bottom: 0;
  }
  50% {
    margin-bottom: 15px;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75px;
  background-color: #223857;
  padding-top: 30px;
}

footer p {
  color: #999;
  font-size: 1em;
}
